﻿@model IEnumerable<WebApplication1.Models.PostIndex>
@{
    ViewBag.Title = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Тестовое задание</h2>
</div>

@foreach (var item in Model)
{
    <ol>
        <li class="collapsable">
            <div class="hitarea collapsable-hitarea"></div><a href="?1" class="">@item.region</a>
            <ul style="display: block;" id="navigation">
                <li class="expandable">
                    <div class="hitarea expandable-hitarea"></div><a href="?1.0">@item.city</a>
                    <ul style="display: none;">
                        <li class="last"><a href="?1.0.0">@item.street</a></li>
                    </ul>
                </li>
                <li><a href="?1.1">Item 1.1</a></li>
                <li class="expandable lastExpandable">
                    <div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><a href="?1.2">Item 1.2</a>
                    <ul style="display: none;">
                        <li class="expandable">
                            <div class="hitarea expandable-hitarea"></div><a href="?1.2.0">Item 1.2.0</a>
                            <ul style="display: none;">
                                <li><a href="?1.2.0.0">item.Id</a></li>
                                <li><a href="?1.2.0.1">item.region</a></li>
                                <li class="last"><a href="?1.2.0.2">item.city</a></li>
                            </ul>
                        </li>
                        <li class="expandable">
                            <div class="hitarea expandable-hitarea"></div><a href="?1.2.1">Item 1.2.1</a>
                            <ul style="display: none;">
                                <li class="last"><a href="?1.2.1.0">Item 1.2.1.0</a></li>
                            </ul>
                        </li>
                        <li class="expandable lastExpandable">
                            <div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><a href="?1.2.2">Item 1.2.2</a>
                            <ul style="display: none;">
                                <li><a href="?1.2.2.0">Item 1.2.2.0</a></li>
                                <li><a href="?1.2.2.1">Item 1.2.2.1</a></li>
                                <li class="last"><a href="?1.2.2.2">Item 1.2.2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>
}
